.container {
  width: 80vw;
  height: 95vh;
  border-radius: 1rem;
  background: var(--primary-background-main);
  display: flex;
  overflow: hidden;
}
.list {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 1rem;
}

.formContainer {
  padding: 0.5rem 1rem;
  flex: 1;
  overflow-y: auto;
}
.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoContainer {
  background-color: var(--secondary-color-main);
  color: var(--primary-background-light);
  flex: 1;
  padding: 0.5rem 1rem;
  position: relative;
}
.buttonContainer {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.margin {
  margin: 1rem 0;
}
